.card{                              /* adding on hover animation for cards*/
    transition: all 0.25s;
    font-size: medium;
}

.card:hover{                        /* Defining animation time*/
    transform: scale(1.02);
}


 