
  .page-background {
    height: 100vh;                                              /* Full height of the viewport */
    background-image: url('../assets/headshot 5 crop.jpg');     /* Reference from public folder */
    background-size: cover;                                     /* Ensure the image covers the entire div */
    background-repeat: no-repeat;                               /* Does not repeat the image if it is small */
    display: flex;                                              /* automatically resize background image according to screen size */
  }

  .welcome-text{                                                
    display: flex;                                               /* making it flexbox so that it will be responsive */ 
    font-size: large;
    font-weight: lighter;
    justify-content: center;
  }

